@page
@model RecipeManagerWeb.Pages.RecipeCategories.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RecipeCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RecipeCategory.Id" />
            <div class="form-group">
                <label asp-for="RecipeCategory.Abbreviation" class="control-label"></label>
                <input asp-for="RecipeCategory.Abbreviation" class="form-control" />
                <span asp-validation-for="RecipeCategory.Abbreviation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipeCategory.Name" class="control-label"></label>
                <input asp-for="RecipeCategory.Name" class="form-control" />
                <span asp-validation-for="RecipeCategory.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

